header, footer {
    background-color: teal;
}
body {
    background-color: #FC766AFF;
}
h1 {
    color: white;
    font-size: 250%;
}
h3 {
    font-style: italic;
}
#box {
    background: silver;
}

article::first-letter{
    font-size: 200%;
}
article{
    font-size: 25px;
}

li :hover{
    background-color: yellow;
}
