header, footer {
    background-color: teal;
}
body {
    background-color: #FC766AFF;
}
h1 {
    color: white;
    font-size: 250%;
}
h3 {
    font-style: italic;
}
#box {
    background: silver;
}

article::first-letter{
    font-size: 250%;
}
article, fieldset , #tex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



li :hover{
    background-color: yellow;
}
