header, footer {
    background-color: turquoise;
}
h1 {
    color: black;
    font-size: 250%;
}
h3 {
    font-style: italic;
}
.box {
    background: silver;
}

article::first-letter{
    font-size: 200%;
}
form h3{
    background: turquoise;
}

li :hover{
    background-color: yellow;
}
#m
{
    padding-left: 80px;
}