header, footer {
    background-color: teal;
}
h1 {
    color: white;
    font-size: 250%;
}
h3 {
    font-style: italic;
}
a[target="_blank"]{
    font-size: 110;
}
#box {
    background: silver;
}

article::first-letter{
    font-size: 250%;
}
article, fieldset , #tex{
    font-size: 20px;
    
}
nav ul li :hover{
    background-color:yellow;
}
.uni {
    font-size: 80%;
}
figure{
    float: right;
    font-size: 70%;
}
